.homeWrapper {
    color: azure;
    font-family: cursive;
    height: 100vh;
    background-color: rgb(238, 148, 237);
}

.homeWrapper h2 {
    padding: 2rem;
    font-weight: bold;
    text-align: center;
}

 .cardDiv {
    background-color: rgb(238, 148, 237);
    display: flex;
    justify-content: center;
    
}

.cardDiv :nth-child(n+0) {
    width: 450px;
    margin: 3px;
    padding: 5px;
}
